* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}


@media(max-width: 479px){

    .container {
        height: 100%;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10%;               
        padding: 10px;
        
    }

    .main {
        background-image: url(12.jpg);
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
         background-color: black;
        
   }

    .main  .section__1 {
        background: url(./img/12.jpg) no-repeat;
        background-size: auto 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .main  .section__1 .box {
        border: 1px solid black;
        margin-top: 10px;
        font-size: 12px;
    }
    
    .burger .line {
        width: 25px;
        height: 3px;
        background-color: #000000;
        margin: 4px 0;
    }
    .header a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #b9b9b9;
        font-size: 14px;
        padding: 10px;
    }

   
    .section__1 .box {
        height: 150px;
        width: 150px;
        background-color:rgb(255, 209, 145);
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
    }
    .section__1 .box img{
        width: 40px;
        height: 40px;
        border-radius: 60px;
        background-color: aqua;
        margin-left: 40px;
    }
}



@media (min-width: 480px) and  (max-width: 767px){

    .container {
        height: 100%;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10%;
        font-size: 16px;
        padding: 15px;
    }

    .header > .burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-right: 180px;
    }

    .main > .section__1 {
        background: url(./img/12.jpg);
        width: 100%;
        font-size: 16px;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        background-color: black;
    }
    .burger .line {
        width: 25px;
        height: 3px;
        background-color: #000000;
        margin: 4px 0;
    }
    .header a {
        margin-left: 70px;
        color: #b9b9b9;
        font-size: 16px;
        padding: 15px;
    }

    .main {
        background-image: url(12.jpg);
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .section__1 .box {
        height: 170px;
        width: 170px;
background-color:rgb(255, 209, 145);
}
.section__1 .box img{
    width: 80px;
    height: 80px;
    border-radius: 60px;
    background-color: aqua;
    margin-left: 70px;
}
}

@media (min-width: 768px) and  (max-width:1023px){

    .container {
        height: 100%;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10%;
        font-size: 16px;
        padding: 15px;
    }

    .header > .burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-right: 180px;
    }

    .main > .section__1 {
        background: url(./img/12.jpg);
        width: 100%;
        font-size: 15px;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        background-color: black;
    }
    .burger .line {
        width: 25px;
        height: 3px;
        background-color: #000000;
        margin: 4px 0;
    }
    .header a{
        margin-left: 70px;
        color: #b9b9b9;
        font-size: 16px;
        padding: 15px;
    }

    .main {
        background-image: url(12.jpg);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .section__1 .box {
        height: 160px;
        width: 160px;
        border: 2px solid black;
background-color:rgb(255, 194, 102);
}
.section__1 .box img{
    width: 80px;
    height: 80px;
    border-radius: 60px;
    background-color: aqua;
    margin-left: 70px;
}
}
@media (min-width: 1024px) and  (max-width:1279px){

    .container {
        height: 100%;
        width: 100%;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10%;
        font-size: 16px;
        padding: 15px;
    }

    .header > .burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-right: 180px;
    }

    .main > .section__1 {
        background: url(./img/12.jpg);
        width: 100%;
        height: 100%;
        font-size: 16px;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        background-color: black;
    }
    .burger .line {
        width: 25px;
        height: 3px;
        background-color: #000000;
        margin: 4px 0;
    }
.header a{
    font-size: 20px;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .main {
        background-image: url(12.jpg);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .section__1 .box {
        height: 170px;
        width: 170px;
border: 2px solid black;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
background-color:rgb(255, 209, 145);
margin-left: 50px;
margin-top: 400px;
}
.section__1 .box img{       
    width: 50px;
    height: 50px;
    border-radius: 60px;
    background-color: aqua;
    margin-left:60px;

}
}
@media (min-width: 1280px) and  (max-width:1919px){

    .container {
        height: 100%;
        width: 100%;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10%;
        font-size: 16px;
        padding: 15px;
    }

    .header > .burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-right: 180px;
    }

    .main > .section__1 {
        background: url(./img/12.jpg);
        width: 100%;
        height: 100%;
        font-size: 18px;
        padding: 15px;
        background-color: black;

    }
    .burger .line {
        width: 25px;
        height: 3px;
        background-color: #000000;
        margin: 4px 0;
    }
    .header a{
        margin-left: 70px;
        color: #b9b9b9;
        font-size: 16px;
        padding: 15px;
    }

    .main {
        background-image: url(12.jpg);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
 .section__1 .box {
        height: 170px;
        width: 170px;
background-color:rgb(255, 209, 145);
}
.section__1 .box img{
    width: 80px;
    height: 80px;
    border-radius: 60px;
    background-color: aqua;
    margin-left: 70px;
}
}
@media (min-width: 1290px){

    .container {
        width: 100%;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10%;
        font-size: 16px;
        padding: 15px;
    }

    .header > .burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-right: 180px;
    }

    .main > .section__1 {
   background-image: url(./img/12.jpg);
      width: 100%;
        font-size: 22px;
        padding: 15px;
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .burger .line {
        width: 25px;
        height: 3px;
        background-color: #000000;
        margin: 4px 0;
        /* transition: all 3s ease; */
    }
  /* .burger .line:hover{
    background-color:rgb(255, 153, 0);
  } */
    .header a{
        margin-left: 70px;
        color: #b9b9b9;
        font-size: 26px;
        padding: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

     .main {
        background-image: url(./img/12.jpg);
        width: 100%;
        height: 100%;
        z-index: 11;
        background-size: cover;
        background-repeat: no-repeat;
    } 
    .section__1 .box{
        height: 270px;
        width: 260px;
       margin-left: 30px;
       position: relative;
       left: 50px;
       border: 3.5px solid black;
       border-radius: 6px;
margin-top: 500px;
font-family: Arial, Helvetica, sans-serif;
background-color:rgb(255, 209, 145);
}
.section__1 .box img{
    width: 80px;
    height: 80px;
    border-radius: 60px;
    background-color: aqua;
    margin-left: 70px;
}
}









